*{
    margin: 0px;
}
body{
    background-color:antiquewhite;
}
.img1{
    height: 250px;
    width: auto;
    border-radius: 15px;
}
.image1{
    position: relative;
}
.restaurant{
    position: relative;
}
.restaurant_name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.rating{
    background-color: green;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 0px;
    border-radius: 8px;
    padding: 1px;
    color: white;
}

.box{
    display: inline-block;
}

.container{
    display: inline-block;
    border: 5px antiquewhite solid;
    padding: 10px;
    border-radius: 15px;
}

.container:hover{
    background-color: white;
    border-color: white;
}

.paisa{
    color: gray;
    position: absolute;
    right: 0px;
    margin-top: 10px;
}

.food{
    position: relative;
}

.food_name{
    color: gray;
    margin-top: 10px;
}
.location{
    position: relative;
}

.location_name{
    color: gray;
    margin-top: 10px;
}

.distance{
    position: absolute;
    margin-top: 10px;
    right: 0px;
    font-weight: bold;
    font-size: small;
}

.off{
    background-color: brown;
    display: inline-block;
    position: absolute;
    left: 0px;
    color: white;
    font-size: 25px;
    opacity: 0.8;
    margin-left: 10px;
    bottom: 10px;
}

.brand{
    color: red;
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}

.searching{
    height: 30px;
    width: 300px;
    margin-right: 50px;
    position: relative;
    bottom: 5px;
}

.head{
    background-color: white;
}

button{
    height: 50px;
    width: 80px;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
    background-color: white;
    border: none;
    color: gray;

}

.img3{
    height: 100px;
    width: 100px;
}

.dine{
    position: relative;
    bottom: 25px;
    left: 5px;
    font-size: 20px;
    color: gray;
}


