*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit{
    height: 100px;
    width: 100px;
    position: relative;
}

.sun{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.mars{
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    animation: mars;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes mars {
    from{
        transform: rotate(0deg) translate(200px);
    }
    to{
        transform: rotate(360deg) translate(200px);
    }
}

.earth{
    background-color: blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    animation: earth;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes earth {
    from{
        transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(250px) rotate(-360deg);
    }
}