.prime{
    background-color: navy;
}
*{
    margin: 0;
}
.first,.third{
    display: inline-block;
    background-color: white;
    height: 25vw;
    width: 25vw;
    margin-right: 5vw;
}
.second,.fourth{
    display: inline-block;
    background-color: white;
    height: 25vw;
    width: 70vw;

}

.third,.fourth{
    margin-top: 5vw;
}