*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.container{
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 1rem; 
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: repeat(4,minmax(100px,200px)); */
    /* grid-template-columns: repeat(auto-fit,minmax(100px,200px)); */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: end;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.box{
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
}