.container{
    background-color: blue;
    /* height: 500px;
    width: 400px; */
    display: flex;
}

/* General css for desktop */

.box{
    height: 300px;
    width: 300px;
    color: red;
    background-color: aqua;
    margin: 30px;
}


/* @media (max-width:500px){
    .container{
        background-color: aqua;
        height: 200px;
        width: 200px;
    }
} */


/* Mobile Phone */
@media (max-width:600px){
    .container{
        flex-direction: column;
    }
}

/* Tablet (max-width=900px), 600px min */

@media (min-width: 601px) and (min-width: 900px){

}